* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#loader {
    margin: 300px;
    height: 300px;
    background: url('../images/loader.gif') no-repeat;
    background-size: 300px 300px;
    margin-left: 35%;
    margin-top: 10%;
}

#bd {
    width: 100%;
    height: auto;
    background: url('../images/clg.jpg') no-repeat;

    background-size: 100% 620px;
    background-attachment: fixed;

}

#main-content {
    display: none;
}

.atmiya-brightness {
    width: 100%;
    height: 620px;
    background: rgba(13, 10, 8, 0.7);
}

.header {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 8px;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    animation:backInLeft 4s alternate;
}

.call-us {
    color: white;
    font-size: 17px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    /* font-weight: 600; */
}

.call-us a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.social-media {
    color: white;
    margin-left: 50%;
    padding: 7px;
    letter-spacing: 2px;
}

.navbar {
    width: 100%;
    height: 50px;
    padding: 8px;
    margin: auto;
    background-color: rgba(10, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}

.atmiya-logo {
    color: white;
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: 800;
    /* margin-top: 0.2%; */
    margin-right: 30px;
    animation:pulse 6s alternate;
}

.navbar-link ul li {
    display: inline-block;
    padding:  13px;
    margin-left: 30px;
    /* margin-top: %; */
    /* border:1px solid aqua; */
}

.navbar-link a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    list-style-type: none;
    font-size: 19px;

}
.navbar-link a:hover{

    /* background-color: rgb(255, 255, 255); */
    /* color: #ff8000; */
    /* padding: 5px; */
    border-radius: 5px;
}
.navbar-link ul li:hover{
    background-color: #e43905;
}
.navbar-link li a:hover{
    color: #000;
}



.slider {
    width: 100%;
    height: auto;
    margin: auto;

}

.slider-content {
    width: 40%;
    height: auto;
    margin: 0;
    margin-left: 8%;
    color: white;
    font-size: 17px;
    letter-spacing: 2px;

}
.slider-content h1{
    margin-top: 5%;
}

.slider-content h6 {
    font-size: 19px;
    margin-top: 6%;
}
.slider-content p{

    margin-top: 4%;
}

#btn-enrollment {
    width: 250px;
    height: auto;
    margin: auto;
    padding: 15px;
    background-color: #e43905;
    /* color: white; */
    border: none;
    border-radius: 20px;
}

.content {
    width: 100%;
    /* height: 700px; */
    background: url('../images/back.jpg') no-repeat;
    background-size: cover;
    margin-top: 11%;
    /* position: absolute; */


}

.bestedu {
    position: relative;
    top: -100px;
    width: 85%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: rgb(24, 21, 17);
    /* margin-left: 20%; */
    align-items: center;

}

.best-edu1,
.best-edu2,
.best-edu3 {
    padding: 15px;
    background-color: rgba(245, 243, 243, 0.423);
    margin: 5px;
    border-radius: 12px;
}

.bestclg>h2 {
    /* background-color: red; */
    color:white;
    text-align: center;
    margin-top:-3%;
}

.bestedu .fa-angle-left,
.bestedu .fa-angle-right {
    font-size: 50px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    /* border: 2px solid red; */
}

/* upcoming event section */
.event-container {
    /* border: 2px solid yellowgreen; */
    display: flex;
    gap: 2em;
    width: 95%;
    margin-inline: auto
}


 .bestclg1 {
    /* border: 2px solid red; */
    flex-basis: 35%;
    background-color: #fff;
    color: #000;
    padding: 1.5em;
    border-radius: 1em;
    height:300px;
 }
     
.bestclg1 :hover
{
    background-color: violet;
    color: wheat;
}
.bestclg1>*:not(:first-child) {
    margin-top: 2em;
}

.meeting-topics>P {
    line-height: 2;
}

.bestclg1>button {
    border: none;
    display: in;
    width: 90%;
    margin-inline: auto;
    background-color: orangered;
    text-align: center;
    border-radius: 100vw;
    padding: 5px 0;
    cursor: pointer;
}

.bestclg2 img {
    width: 350px ;
    height: 200px;
    border-radius: 5%;
}

/* .bestclg2:hover
{
    background-color: black;
    color: wheat;
} */

.bestclg2 {
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 300px);
    gap: 1.5em;

}
.bestclg2 :hover
{
    background-color: #000;
    color: white;
    transition: 1s;
}
.meeting-content{
background-color: #fff;
color:#000;

}
.meeting-content p

{
    text-align: center;
    font-weight: 1000;
    font-size: 20px;
    
}
.meeting-content h2
{
    font-size: 13px;
}
.section{
    width:100%;
    background: url('../images/clg2.jpg') no-repeat;
    background-size: cover;
    /* background: rgba(13, 10, 8, 0.7); */
    margin-top: 4%;
    height: 650px;
}
 .atmiya-section{
   position: relative;
   background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 69%;
    padding: 100px;
    /* margin-left: 10%; */
} 

.bestuni1{
    width: 35%;
    height: 200px;
    background-color: rgba(245, 243, 243, 0.423);
    margin-bottom: 20PX;
    /* margin-left: 10%; */
    text-align: center;
    border-radius: 10px;
    
}

.bestuni1>button
{
    border: none;
    display: in;
    width: 60%;
    margin-inline: auto;
    background-color: orangered;
    border-radius: 100vw;
    padding: 4px 0;
    cursor: pointer;
    text-align: center;
}
.bestuni2{
    width: 37%;
    height: 440px;
    background-color: #fff;
    margin-left: 50%;
    margin-top: -33%;
    padding: 20px;
    border-radius: 15px;
}

.bestuni2 p{
    margin-left: 4%;
}
.bestuni2 .fa-angle-down,
.bestuni2 .fa-angle-right {
    padding: 10px;

}
.popular-courses{
    width:100%;
    height:auto;
    background: url(../images/back.jpg) no-repeat;
    padding:100px 0;
}
.popular-courses1
{
    width: 90%;
    height: 200px;
    margin: auto;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;  
  
}
.popular-courses2 {
    width: 20%;
    /* border: 2PX solid red; */
    background-color: #fff;
    text-align: center;
    height: 180px;
}

.popular-courses2 :hover
 {
        background-color: #000;
        color: white;
        transition: 1s;
        /* height: auto; */
 }

.popular-courses2 img{
    width: 100%;
    height:100px;
    border-radius: 5px;
}
.popular-courses .fa-angle-left,
.popular-courses .fa-angle-right
{
    color:black;
    font-size: 40PX;
    background-color: white;
    border-radius: 20%;
}
.university-section
{
    background:url(../images/clg3.jpg)no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
}
.university1{
    
    position:relative;
    width: 100%;
    height: 400px;
    padding: 100px;
    background: rgba(0, 0, 0, 0.7);
    
   
}
.university2{
    width: 18%;
    height: 100px;
    background:rgba(245, 243, 243, 0.423);
    text-align: center;
    padding: 30px;
    margin-bottom: 2%;
    font-size: 25px;
    border-radius: 6px;
    
}

.university2 h2 {
    color:rgb(209, 151, 6);
    padding: 2px;
}
.university3{
    /* display: flex; */
    margin-left: 26%;
    margin-top: -24%;
}
.university4 {
    width: 24%;
    height: 100px;
    background:rgba(245, 243, 243, 0.423);
    text-align: center;
    padding: 30px;
    margin-bottom: 2%;
    font-size: 25px;
    border-radius: 6px;
}
.university4 h2{
    color:rgb(209, 151, 6) ;
    padding: 2px;
}
.university5 {
    background:url(../images/tec.webp);
    opacity: 0.7;
    background-size: cover;
    padding: 20px;
    /* border: 1px solid black; */
    width: 40%;
    height: 380px;
    /* background-color: #000; */
    margin-left: 42%;
    margin-top: -40%;
    border-radius: 6px;
}

.university5 .fa-play{
  width: auto;
  height: auto;
  padding: 28px;
  background-color: goldenrod;
  border-radius: 50%;
  border: solid 15px #f5e57f;
  animation: flash 2s infinite;
  margin-left: 40%;
  margin-top: 120px;
}
.in-touchsection{
    width:100%;
    height:400px;
    background: url(../images/back.jpg) no-repeat;
    padding:100px 0;
    display:flex;  

}
.in-touch{
    background-color: #fff  ;
    width: 60%;
    height: 300px;
    padding: 25px;
    margin-left: 5%;
    border-radius: 10px;
   
    
}
 input[type="text"]
{
    width: 200px;
    height: auto;
    /* background-color: white; */
    margin-top: 1%;
    padding: 10px;
    outline: none;
    /* border: none; */
} 
.in-touch2{
    width: 16%;
    height: 320px;
    background-color: red;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    /* text-align:center; */
}
#textarea{
    overflow-y: hidden;
    width: 680px;
    height: 95px;
    resize: none;
    margin-top: 10px;
    outline: none;
}
input[type="text"]:focus{
    outline: none;
    border: 1px solid #e43905;
}
#textarea:focus{
    outline: none;
      border: 1px solid #e43905;
}